.popup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

h1, h2 {
    font-size: 3rem;
    font-style: italic;
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
}
h2 {
    font-size: 2rem;
}

input, select {
    font-size: 14px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.material-row input, .expense-row input {
    font-size: 14px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-group {
    width: 80%;
    display: flex;
}

.form-container {
    padding: 5%;
    display: flex;
    width: 100%;
    height: 100%;
}

.lhs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.rhs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    align-items: center;
    width: 50%;
    height: 100%;
}

.materials-group, .expenses-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    overflow-y: scroll;
}