.form {
    width: 80%;
}

h1 {
    font-size: 4rem;
    font-style: italic;
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
}

.error {
    color: red;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
}

.field {
    margin: 20px 0;
    font-weight: bold;
    color: #333;
    padding: 20px;
}

.text {
    display: block;
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #555;
}

.horizontal-scroll-field {
    display: flex;
    gap: 2%;
    overflow-x: scroll;
    padding: 2%;
    background-color: #f9f9f9;
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-box {
    flex: 0 0 auto; 
    width: 200px; 
    padding: 16px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}